.container {
  margin-right: 26px;
  color: var(--mainBlue);
  background: transparent;
  border: none;
  font-size: 24px;
  opacity: 0.6;
}

.container:hover {
  opacity: 1;
}

.container:active {
  opacity: 0.4;
}
