.container {
  height: 50px;
  width: 178px;
  border: var(--mainBlue) 2px solid;
  background: none;
  color: var(--mainBlue);
  font-size: 20px;
  opacity: 0.8;
  transition: opacity ease-in-out 300ms;
}

.container:hover {
  opacity: 1;
}

.container:active {
  opacity: 0.5;
}
